<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include PicasaExtCommon.wxs ?>
  <Product Name="PicasaExt" Id="$(var.ProductCode)" UpgradeCode="$(var.UpgradeCode)" Language="1033" Codepage="1252" Version="$(var.ProductVersion)" Manufacturer="PicasaExt">
    <Package Id="*" Keywords="Installer" Description="PicasaExt Installer" Comments="PicasaExt is not made, endorsed, or supported by Google." InstallerVersion="200" Languages="1033" Compressed="yes" SummaryCodepage="1252" Platform="x86" />
    <Condition Message="You need to be an administrator to install this product.">Privileged</Condition>
    <Condition Message="This installer is only for 32-bit Windows">NOT VersionNT64</Condition>
    <Media Id="1" Cabinet="PicasaExt.cab" EmbedCab="yes" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND" />
      <UpgradeVersion Minimum="1.0.0"
                      IncludeMinimum="yes"
                      Maximum="$(var.ProductVersion)"
                      IncludeMaximum="no"
                      Language="1033"
                      Property="UPGRADEFOUND" />
    </Upgrade>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="PicasaExt">
          <Component Id="ComponentPicasaExt32" Guid="$(var.ComponentID_PicasaExt32)">
            <File Id="PicasaExtDLL32" Name="PicasaExt32.dll" DiskId="1" Source="..\Release\PicasaExt\Win32\PicasaExt.dll" KeyPath="yes" />
            <RegistryValue Root="HKCR" Key="AppID\$(var.APPID)" Value="PicasaExt" Action="write" Type="string" />
            <RegistryValue Root="HKCR" Key="AppID\PicasaExt.DLL" Name="AppID" Value="$(var.APPID)" Action="write" Type="string" />
            <RegistryValue Root="HKCR" Key="CLSID\$(var.CLSID)" Value="PicasaStarIcon Class" Action="write" Type="string" />
            <RegistryValue Root="HKCR" Key="CLSID\$(var.CLSID)\InprocServer32" Value="[INSTALLDIR]PicasaExt32.dll" Action="write" Type="string" />
            <RegistryValue Root="HKCR" Key="CLSID\$(var.CLSID)\InprocServer32" Name="ThreadingModel" Value="Apartment" Action="write" Type="string" />
            <RegistryValue Root="HKCR" Key="CLSID\$(var.CLSID)\Programmable" Value="" Action="write" Type="string" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ShellIconOverlayIdentifiers\PicasaStarIcon" Value="$(var.CLSID)" Action="write" Type="string" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="FeaturePicasaExt32bit" Level="1">
      <ComponentRef Id="ComponentPicasaExt32" />
    </Feature>

    <UI />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\bannrbmp.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="lgpl.rtf" />

    <!-- Prevent downgrading -->
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <!-- Sequences -->
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>  
  </Product>
</Wix>